@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html,body{
  display: grid;
  height: 100vh;
  place-items: center;
  background: #34495e;
}
.main_div{
  position: relative;
  height: 65px;
  width: 250px;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.35);
}
.main_div::before{
  content: 'Share';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  color: #34495e;
  font-size: 27px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s linear;
}
.main_div:hover::before{
  left: -250px;
}
.main_div .social_media{
  position: absolute;
  top: 0;
  right: -250px;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.4s ease-in-out;
}
.main_div:hover .social_media{
  right: 0;
}
.social_media i{
  font-size: 22px;
  color: #34495e;
  transition: all 0.3s linear;
}
.social_media i:hover{
  transform: scale(1.1);
}
